/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Bangers', cursive;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

.panel{
  height:800px;
  background:white;
}

#intro-section{
  background: #cc4224;
}

#character1{
 background: #F3D403;
}

#character2{
 background: #2A75B3;
}



#groot-photo{
  width: 500px; 
}

#chart-section{
  background: #000000;
  color: #ffffff;
}

