/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', helvetica, arial, sans-serif;
  margin: 0;
}

h1, h2{
  font-family: 'Bangers', cursive;
  color: #373fff;
  margin:5pt;
}

h2{
  color: #cc4224;
  font-size: 3em;
}

.bold {
  font-weight: bold;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  max-width: 600px;
}

.big-text{
  font-size: 5em;
  letter-spacing: 5px;
}

.panel{
  height:800px;
  background:white;
}

#intro-section{
  background: #cc4224;
}

#character1{
  background: #F3D403;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.character-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 10pt;
}

#character2{
 background: #2A75B3;
}

.character-photo{
  width: 200px; 
  height: 200px;
}

#chart-section{
  background: #000000;
  color: #ffffff;
}

#myChart{
  max-height: 70%;
  max-width: 90%;
}

