/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', helvetica, arial, sans-serif;
  margin: 0;
}

section{
  margin:0;
  padding:0;
}

h1, h2{
  font-family: 'Bangers', cursive;
  color: #373fff;
  margin:5pt;
}

h2{
  color: #cc4224;
  font-size: 3em;
}

.bold {
  font-weight: bold;
}

.flex{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.big-text{
  font-size: 5em;
  letter-spacing: 5px;
}

.panel{
  height:800px;
  background:white;
}

#intro-section{
  background: #cc4224;
}

.intro-text{
  font-size: 18pt;
  width: 80%;
  text-align: center;
  color: #ffffff;
  line-height: 30pt;
}

#arrow{
  transform: rotate(180deg);
  position: absolute;
  bottom: 80pt;
  font-size: 100pt;
  
}

#character1{
  background: #F3D403;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.character-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10pt;
  margin-top: -150pt;
}

.character-photo{
  width: 275px; 
  height: 275px;
}

#character2{
 background: #2A75B3;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.quote{
  font-family: 'Bangers', cursive;
  color: #F3D403;
  font-size: 30pt;
  max-width: 80%;
  line-height: 50pt;
  letter-spacing: 1px;
  text-align: center;
}

.attr{
  font-family: 'Bangers', cursive;
  font-size: 20pt;
  color: #cc4224;
}


a{
  text-decoration: none;
  color: #F3D403;
}

#chart-section{
  background: #000000;
  color: #ffffff;
  text-align: center;
}

#myChart{
  max-height: 70%;
  max-width: 90%;
}

@media screen and (max-width: 750px) {
  #character1 {
    flex-direction: column;
  }
  
  .character-wrapper{
    flex-direction: column;
    padding:5px;
    margin:0;
  }
  
  .character-photo{
    max-width: 80px;
    max-height: 80px;
    padding:0;
    margin:0;
  }
  
  h2, p{
    font-size: 10pt;
    margin:2px  0;
    text-align: center;
  }
  
  .big-text{
    font-size: 50pt;
    text-align:center;
  }
  .intro-text, .quote {
    font-size: 12pt;
    line-height: 20pt;
  }
  
  #arrow{
  bottom: 200pt;
  font-size: 70pt;
}
  .normal-heading{
  font-size: 30pt;
  }

  .quote{
  font-size: 25pt;
    line-height: 30pt;
  }
  
}

